body {
  background-image: url("https://jooinn.com/images/wood-background-55.jpg");
  background-color: #cccccc;
  align-content: center;
 }

 

 p {
  font: small-caps bold 20px/100px Georgia, serif;
  color:black
 }

 div {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  font: small-caps bold Georgia, serif;
  color:black
 }

 input {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
 }

 label {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
  font: small-caps bold 20px/50px Georgia, serif;
  color:black;
 }

 li {
  font: small-caps bold 20px/50px Georgia, serif;
  color:black
 }
